.user-inner {
  padding-top: 53px;
}

.user-email {
  text-align: center;
  color: var(--color-text);
  font-size: 12px;
}

.btn-wrapp {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  column-gap: 10px;
  margin-bottom: 45px;
}

.payments-user-total {
  margin-bottom: 40px;
}