.wrapp {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  width: 205px;

  & > h3 {
    background: linear-gradient(184.5deg, rgb(253, 116, 155), rgb(40, 26, 200));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 12px;
    font-weight: 700;
  }

  .list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > span {
      color: var(--color-text);
      font-size: 12px;
      font-weight: 400;
    }
  }
}
