.payments-inner {
  padding-left: 52px;
  padding-right: 53px;
  padding-bottom: 37px;
}

.payments-wrapp {
  margin-bottom: 20px;
}

.payments-filter {
  color: var(--color-text);
  font-weight: 700;
  font-size: 14px;
}