.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 362px;
}

.upload {
  margin-bottom: 83px;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 27px;
  margin-bottom: 12px;
}